@model Page

@{
    Title = Model.Context.Metadata.Title;
    Description = Model.Context.Metadata.Description;
}

@section PageActions {
    <a href="/m/Edit/@Model.Context.Path.Location.GetVirtualPath()" class="page__action la la-edit" title="Edit page"></a>
}

<div class="page-content">
    @if (User.Identity.IsAuthenticated && string.IsNullOrWhiteSpace(Model.Data.Html))
    {
        <div class="alert alert-warning">
            This page is empty. Please, <a href="/m/Edit/@Model.Context.Path.Location.GetVirtualPath()"><i class="la la-edit"></i> edit</a> page now!
        </div>
    }
    @Html.Raw(Model.Data.Html)
</div>
