@model Page

@{
    Title = Model.Metadata.Title;
    Description = Model.Metadata.Description;
}

@section PageActions {
    <a href="/m/Edit/@Model.Path.Location.GetVirtualPath()" class="page__action la la-edit" title="Edit page"></a>
}

<div class="page-content">
    @Html.Raw(Model.Content.Html)
</div>
