@model Page

@{
    Title = Model.Metadata.Title;
    Description = Model.Metadata.Description;
}

@await Component.InvokeAsync("Breadcrumbs")

@if (User.Identity.IsAuthenticated)
{
    <h3>Привет, @User.FindFirstValue(ClaimTypes.GivenName)</h3>
}

<div class="page-content">
    @Html.Raw(Model.Content.Html)
</div>
