@model IEnumerable<NavItem>

@if (Model.Count() > 0)
{
    <ul class="sidebar-nav__subitems">
        @foreach (NavItem navItem in Model)
        {
            <li class="sidebar-nav__subitem @Html.NavItemState(navItem)">
                <a href="/@navItem.VirtualPath" class="sidebar-nav__link">
                    <span class="sidebar-nav__text">@navItem.DisplayName</span>
                </a>
                @await Html.PartialAsync("~/Views/Shared/Components/Nav/_SubItems.cshtml", navItem.Children)
            </li>
        }
    </ul>
}