@inject Microsoft.Extensions.Options.IOptionsSnapshot<AppConfig> AppConfigOptions
@using Documentor.Config
@model Nav

@{ 
    AppConfig appConfig = AppConfigOptions.Value;
}

@if (Model.Items.Count() > 0)
{
    <nav class="sidebar-nav scroller__section">
        <ul class="sidebar-nav__items">
            @foreach (NavItem navItem in Model.Items)
            {
                <li class="sidebar-nav__item @Html.NavItemState(navItem, navItem == Model.Items.First())">
                    <a href="/@navItem.VirtualPath" class="sidebar-nav__link">
                        <span class="sidebar-nav__icon"></span>
                        @if (appConfig.ShowSequenceNumbers)
                        {
                        <span class="sidebar-nav__sequence-number">@navItem.SequenceNumber.</span>
                        }
                        <span class="sidebar-nav__text">@navItem.DisplayName</span>
                    </a>
                    @await Html.PartialAsync("~/Views/Shared/Components/Nav/_SubItems.cshtml", navItem.Children)
                </li>
            }
        </ul>
    </nav>
}