@inject Microsoft.Extensions.Options.IOptionsSnapshot<AppSettings> AppSettingsOptions
@using Documentor.Framework.Navigation;
@using Documentor.Settings;
@model Nav
@{
    AppSettings appSettings = AppSettingsOptions.Value;
}

@if (Model.Items.Count() > 0)
{
    <nav class="sidebar-nav scroller__section">
        <ul class="sidebar-nav__items">
            @foreach (NavItem navItem in Model.Items)
            {
                <li nav-item="navItem" is-first="navItem == Model.Items.First()" is-sub-item="false">
                    <a href="/@navItem.VirtualPath.ToLower()" class="sidebar-nav__link">
                        <span class="sidebar-nav__icon"></span>
                        @if (appSettings.ShowSequenceNumbers)
                        {
                            <span class="sidebar-nav__sequence-number">@navItem.SequenceNumber.</span>
                        }
                        <span class="sidebar-nav__text">@navItem.DisplayName</span>
                    </a>
                    @await Html.PartialAsync("~/Views/Shared/Components/Nav/_SubItems.cshtml", navItem.Children)
                </li>
            }
        </ul>
    </nav>
}