<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="Logfile"
            xsi:type="File"
            fileName="${basedir}/Logs/log.txt"
            archiveFileName="${basedir}/Logs/log.archive.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
            keepFileOpen="false"
            layout="${date:format=dd.MM.yyyy HH\:mm\:ss}|${level:uppercase=true}|${logger}|${message}${onexception:inner=|${when:when=(level >= LogLevel.Trace):inner=[!] ${exception:format=ToString:innerFormat=Message:maxInnerExceptionLevel=5} }}"
            encoding="UTF-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Logfile" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>